<head>
</head>
<body>
<div id="header">
  <h1 id="logo">
    HairNow
  <p id="tm">TM</p>
  </h1>
</div>
<div id="sign_in_page">
<form action='/sessions' method="post">
   <input type="text" name="email" placeholder="Email..." id="sign_in_boxes">
   <input type="password" name="password" placeholder="Password..." id="sign_in_boxes">
   <input type="submit" value="Sign in" id="sign_in_page_button">
</form>
</div>
</body>