<head>
  <script>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title'
      },
      events: '/example.json',
      minTime: "07:00:00",
      maxTime: "21:00:00",
      defaultView: 'agendaWeek',
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
      $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
      $('#calendar').fullCalendar('unselect');
        },
      editable: true,

      timeFormat: 'H(:mm)'
      })
    });

  </script>
</head>

<h1>
  HairNow
</h>

<body>

<p>
  <a href='/client/new'><button type="button">Sign Up</button></a>
</p>
<div id='calendar'></div>
</body>

