<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="jquery-ui.js"></script>
  <script src='jquery-ui/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="jquery-ui/jquery-ui.css">
</head>
<body>
  <div id="header">
  <h1 id="logo">
    HairNow
    <p id="tm">TM</p>
  </h1>
  <p id="signup">
    <a href='/client/new'><button type="button" id="signup_button">Sign Up</button></a>
  </p>
  <% if !current_user %>
    <p id="signin">
      <a href='/sessions/new'><button type="button" id="signin_button">Sign In</button></a>
    </p>
    <% end %>
  </div>
  <div id='calendar'></div>
</body>

  <script>

    $(document).ready(function() {
      $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title'
      },
      events: '/example.json',
      minTime: "09:00:00",
      maxTime: "21:00:00",
      defaultView: 'agendaWeek',
      selectable: true,
      selectHelper: true,
      theme: true,
      height: 620,
      select: function(start, end) {
        var title = prompt('Enter booking:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
      $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
      $('#calendar').fullCalendar('unselect');
        },
      editable: true,
      timeFormat: 'H(:mm)'
      })
    });
  </script>



