<!DOCUMENT HTML>
<html>

  <head>
    <title>hairNow</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='fullcalendar/lib/jquery.min.js'></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.first_name %>
    <form method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign Out">
    </form>
    <form method="post" action="/appointment">
      <input type="time" name="start_time">
      <input type="date" name="date">
      <input type="submit" value="Book Appointment">
    </form>
    <% else %>
      <p>
        <a href='/sessions/new'><button type="button">Sign In</button></a>
      </p>
    <% end %>
    <%= yield %>
  </body>


</html>

