<!DOCUMENT HTML>
<html>

  <head>
    <title>hairNow</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='fullcalendar/lib/jquery.min.js'></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>


</html>